<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>2025 Core Lab: Systems</title>
  </head>
  <body>
    <header>
      <h1>2025 Core Lab: Systems</h1>
      <p>Matthew Kaney<br/><a href="mailto:kaneym@newschool.edu">kaneym@newschool.edu</a></p>
      <h3>Course Info</h3>
      <ul>
        <li>CRN 3047 | Section A</li>
        <li>Monday & Wednesday, 4:00pm–6:40pm</li>
        <li>6 East 16th Street, Room 1208</li>
      </ul>
      <nav>
        <h3>Class Links</h3>
        <ul>
          <li><a href="/">Course Overview</a></li>
          <li><a href="/static/PUDT_3101_A_3047_Kaney_FA25.pdf">Syllabus</a></li>
          <li><a href="/schedule/">Schedule</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>{{ title }}</h2>
      {{ content }}
    </main>
  </body>
</html>
